.temperature-calculator{

    background: #5574db;
    width: 100%;

    .container{
        width: 100%;
        padding: 15px calc(1.5rem * 0);
        margin: 0px auto;

        header{
            width: 100%;
            background: #48c9e9e1;
            margin-top: -15px;
            box-shadow: 0px 2px 0px rgba(37, 37, 37, 0.479);

            nav{
                width: 100%;

                .name-greeting-holder{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 20px;

                    .logo{
                        font-style: italic;
                        color: #1726f8;
                    }

                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: right;
                        gap: 15px;

                        li{
                            list-style: none;

                            a{
                                text-decoration: none;
                                color: #ffffff;
                                text-transform: capitalize;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        .greeting{

            font-size: 30px;
            text-transform: capitalize;
            color: #e7e4e4;
            font-family: 'Space Grotesk', sans-serif;
            padding: 0 20px;
            margin: 25px 0;

            p{
                display: flex;
                align-items: center;

                #greeting{
                    color: #e7e4e4;
                }

                .user{
                    margin-left: 6px;
                    color: #74db55;
                }

                .blink{

                    font-size: 2rem;
                    color: #e7e4e4;
                    animation: blinking 1s linear infinite;

                    @keyframes blinking {
                        0% {
                            opacity: 1;
                        }
                        50% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .temperature-calculator-holder{

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            gap: 6em;

            .temperature-holder{

                display: flex;
                align-items: center;
                justify-content: center;
                height: fit-content;
                border-radius: 15px !important;
                background: #f8f4f4;
                padding: 12px;
                gap: 6em;
                margin-top: 10px;
                max-width: 100%;

                .calculator-keys{

                    display: grid;
                    grid-template-rows: repeat(5, 1fr);
                    gap: 14px;

                    .first-keys{

                        display: flex;
                        align-items: center;
                        gap: 7px;

                        button{

                            text-align: center;
                            width: 120px;
                            height: 60px;
                            border-radius: 10px;
                            border: none;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-weight: 550;
                        }

                        .del-key{

                            color: #f8f4f4;
                            background-color: #f11919b9;
                        }

                        .del-all-key{

                            color: #f8f4f4;
                            background-color: #f11919b9;
                        }

                        .dot-key-holder{

                            width: 120px;
                            height: 60px;

                            button{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: inherit;
                                height: inherit;
                                border-radius: 10px;
                                border: none;
                                text-transform: uppercase;
                                font-weight: 550;
                                background-color: #a39f9fb9;
                                color: #f8f4f4;
                            }

                            .dot-key{
                                padding-bottom: 30px;
                                font-size: 55px;
                            }
                        }
                    }

                    .second-keys{
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        button{

                            text-align: center;
                            width: 120px;
                            height: 60px;
                            border-radius: 10px;
                            border: none;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-weight: 550;
                            background-color: #e7e4e4;
                        }
                    }

                    .third-keys{
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        button{

                            text-align: center;
                            width: 120px;
                            height: 60px;
                            border-radius: 10px;
                            border: none;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-weight: 550;
                            background-color: #e7e4e4;
                        }
                    }

                    .fourth-keys{
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        button{

                            text-align: center;
                            width: 120px;
                            height: 60px;
                            border-radius: 10px;
                            border: none;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-weight: 550;
                            background-color: #e7e4e4;
                        }
                    }

                    .fifth-keys{
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        button{

                            text-align: center;
                            width: 120px;
                            height: 60px;
                            border-radius: 10px;
                            border: none;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-weight: 550;
                        }

                        .zero{
                            background-color: #e7e4e4;
                        }

                        .plus{
                            color: #f8f4f4;
                            background-color: #a39f9fb9;
                        }

                        .minus{
                            color: #f8f4f4;
                            background-color: #a39f9fb9;
                        }
                    }
                }

                .form{
                    margin-right: 9px;
                    width: fit-content;

                    .temp_value{
                        max-width: 100%;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 55px;
                        font-weight: 100;
                        overflow: hidden; 
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    select{
                        border: none;
                        outline: none;
                        background: none;
                        font-size: 20px;
                        padding: 22px 5px;

                        option{
                            font-size: 20px;
                            padding: 22px;
                        }
                    }

                    .result{
                        max-width: 100%;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 55px;
                        font-weight: 100;
                        overflow: hidden; 
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }

            .attribution-holder{
                text-align: center;
                text-transform: capitalize;
                font-size: 20px;
                color: #e7e4e4;
                letter-spacing: 2px;
                margin-top: -43px;
                margin-bottom: 20px;

                .attribution{
                    font-family: 'Space Grotesk', sans-serif;

                    span{
                        color: #74db55;
                    }
                }
            }
        }
    }
}