@media screen and (max-width: 425px) {
    .temperature-calculator {
    
        .container{
    
            header{
    
                nav{
    
                    .name-greeting-holder{
                
                        ul{
    
                            li{
    
                                a{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
    
            .greeting{
                font-size: 24px;
    
                p{
    
                    .blink{
                        font-size: 30px;
                    }
                }
            }
    
            .temperature-calculator-holder{
    
                gap: 3em;
    
                .temperature-holder{
    
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    margin-top: 20px;
                    gap: 3em;
                    padding: 12px;
    
                    .calculator-keys{
    
                        .first-keys{
                            
                            button{
                                width: 80px;
                                height: 40px;
                            }
    
                            .dot-key-holder{
                                width: 80px;
                                height: 40px;
                            }
                        }
    
                        .second-keys{
    
                            button{
                                width: 80px;
                                height: 40px;
                            }
                        }
    
                        .third-keys{
    
                            button{
                                width: 80px;
                                height: 40px;
                            }
                        }
    
                        .fourth-keys{
    
                            button{
                                width: 80px;
                                height: 40px;
                            }
                        }
    
                        .fifth-keys{
    
                            button{
                                width: 80px;
                                height: 40px;
                            }
                        }
                    }
    
                    .form{
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
    
                        .temp_value{
                            font-size: 2.5em;
                        }
    
                        select{
                            font-size: 15px;
                            padding: 10px 0px;
    
                            option{
                                padding: 15px;
                            }
                        }
    
                        .result{
                            font-size: 2.5em;
                        }
                    }
                }
    
                .attribution-holder{
                    
                    .attribution{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    .history-holder {
    
        .container {
    
            .history-title {
    
                h1 {
                    font-size: 20px;
                }
            }
    
            .history-conversion-holder {
                padding: 0 13px;
    
                .history {
                    width: 100%;
                    height: 470px;
    
                    .delete-history {
    
                        a {
                            font-size: 18px;
                        }
                    }
    
                    .history-flex{
    
                        .first-table{
    
                            thead {
    
                                tr {
    
                                    th{
                                        font-size: 18.2px;
                                    }
                                    
                                    .th-col{
                                        padding-left: 14px;
                                    }
                                }
                            }
                        }
    
                        .conversions{
                            padding: 0px 7px;
    
                            tbody{
                                font-size: 12px;
    
                                tr {
    
                                    .td-row{
                                        padding: 10px;
                                    }
    
                                    .del {
                                        
                                        a {
                                            margin-left: 6px;
                                        }
                                    }
                                }
                            }
                        }
    
                        div {
    
                            p {
                                font-size: 26px;
                
                            }
                        }
                    }
                }
    
                .attribution-holder{
                    
                    .attribution{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .register {

        .form-holder{
            padding: 42px 20px;

            form {
    
                fieldset{
                    gap: 13px; 
        
                    .form-title{
                        font-size: 21px; 
                    }
        
                    .greeting {
        
                        h3{
                            font-size: 20px; 
                        }
        
                        p{
                            font-size: 11px; 
                        }
                    }
        
                    div {
        
                        label {
                            font-size: 16px;
                        }
        
                        input{
                            width: 330px; 
                        }
                    }
        
                    .name {
                        gap: 13px;
        
                        div {
                            label {
                                font-size: 16px;
                            }
            
                            input{
                                width: 158px; 
                            }
                        }
                    }
        
                    .alt-text{
        
                        p {
                            font-size: 14px;
                            
                            a {
                                font-size: 17px; 
                            }
                        }
                    }
                    
                    button {
                        width: 328px; 
                        font-size: 16px;
                    }
                }
            }
        }

        .attribution-holder{
            margin-top: 13px;

            .attribution{
                font-size: 18px;
            }
        }
    }

    .login {
    
        .form-holder {
            padding: 0 20px;

            form {
    
                fieldset {
                    gap: 13px; 
        
                    legend {
                        font-size: 21px; 
                    }
        
                    .greeting {
        
                        h3{
                            font-size: 20px; 
                        }
        
                        p{
                            font-size: 11px; 
                        }
                    }
        
                    div {
        
                        label {
                            font-size: 16px;
                        }
        
                        input{
                            width: 330px; 
                        }
                    }
        
                    .alt-text{
        
                        p {
                            font-size: 14px;
                            
                            a {
                                font-size: 17px; 
                            }
                        }
                    }
                    
                    button {
                        width: 328px; 
                        font-size: 16px;
                    }
                }
            }
        }
    
        .attribution-holder{
            margin-top: 16px;
            margin-bottom: 15px;

            .attribution{
                font-size: 18px;
            }
        }
    }

    .delete {

        .container {
            padding: 0 20px;

            .inner-container {
    
                h3 {
                    font-size: 21px;
                    line-height: 1.3;
                    margin-bottom: 7px;
                }
        
                form {
                    gap: 6px;
        
                    .p {
                        font-size: 17px;
                        line-height: 2;
                    }
        
                }
            }
        }
    
        .attribution-holder{
            margin-top: 55px;

            .attribution{
                font-size: 18px;
            }
        }
    }

    .delete-all {
        
        .container {
            padding: 0 15px;

            .inner-container {
                width: 350px; 
                padding: 15px 11px;
        
        
                form {
                    gap: 11px;
                    margin-left: 0px;
        
                    p {
                        font-size: 16px;
                        line-height: 1.5;
                    }

                    .buttons {
                        margin-left: 0px;
                    }
                }
            }
        
        }

        .attribution-holder{
            margin-top: 40px;

            .attribution{
                font-size: 18px;
            }
        }
    }

    .page{

        .top-view{

            .text1{
                margin-left: 0em;
            }
        }
    }
}